
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

/* cmd+shift+p Per obrir "import fonts CSS"*/

/* VARIABLES*/

:root{
    --color-primario: #0D6EFD;
    --color-secundario: #0B5ED7;
    --color-oscuro: #122936; 
}

/* GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}